
<!--
TODO: 实现更好的滚动控制（当前灵敏度过高）;
TODO: 格式化代码;
-->
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html{width: 100%; height: 100%; margin: 0; font-family: "微软雅黑"; font-size: 14px;}
		#allmap {width: 100%; height: 500px;}
		#r-result {width: 100%; margin-top: 5px;}
		p {margin: 5px; font-size: 14px;}
	</style>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=vIeXG84uuDZCLzQ4Nf3a5bhaC2Zd3iA1"></script>
	<title>地图位置查找与缩放</title>
</head>
<body>
	<div id="allmap"></div>
	<div id="r-result">
		请输入关键字：<input type="text" id="suggestId" size="20" value="百度" style="width:150px;" />
		<input type="button" onclick="searchPlace();" value="搜索" />
		<input type="button" onclick="zoomIn();" value="放大" />
		<input type="button" onclick="zoomOut();" value="缩小" />
	</div>
	<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto;display:none;"></div>
</body>
</html>
<script type="text/javascript">
	window.onload = function() {
		add_control()	
	};

	// 监听鼠标滚轮事件
	window.addEventListener("wheel", function(event) {
		var delta = Math.sign(event.deltaY); // 获取滚轮滚动方向，1表示向下滚动，-1表示向上滚动

		// 根据滚动方向调用不同的函数
		if (delta > 0) {
			zoomIn();
		} else if (delta < 0) {
			zoomOut();
		}
	});

	// 百度地图API功能
	function G(id) {
		return document.getElementById(id);
	}

	var map = new BMap.Map("l-map");
	map.centerAndZoom("北京",12);                   // 初始化地图,设置城市和地图级别。

	var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{"input" : "suggestId"
		,"location" : map
	});

	ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
		var str = "";
			var _value = e.fromitem.value;
			var value = "";
			if (e.fromitem.index > -1) {
				value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
			}    
			str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
			
			value = "";
			if (e.toitem.index > -1) {
				_value = e.toitem.value;
				value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
			}    
			str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
			G("searchResultPanel").innerHTML = str;
		});
	
		var myValue;
		ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
		var _value = e.item.value;
			myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
			G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
			
			setPlace();
		}
	

	// 百度地图API功能
	// var map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);

	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT}); // 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl(); // 左上角，添加默认缩放平移控件
	var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); // 右上角，仅包含平移和缩放按钮

	// 添加控件和比例尺
	function add_control() {
		map.addControl(top_left_control);
		map.addControl(top_left_navigation);
		map.addControl(top_right_navigation);
	}

	// 移除控件和比例尺
	function delete_control() {
		map.removeControl(top_left_control);
		map.removeControl(top_left_navigation);
		map.removeControl(top_right_navigation);
	}

	// 搜索地点并定位
	function searchPlace() {
		map.clearOverlays();
		var keyword = document.getElementById("suggestId").value;
		var local = new BMap.LocalSearch(map, {
			onSearchComplete: function (results) {
				if (local.getStatus() == BMAP_STATUS_SUCCESS) {
					var poi = results.getPoi(0);
					map.centerAndZoom(poi.point, 18);
					map.addOverlay(new BMap.Marker(poi.point));
				}
			}
		});
		local.search(keyword);
	}

	// 地图放大
	function zoomIn() {
		map.zoomIn();
	}

	// 地图缩小
	function zoomOut() {
		map.zoomOut();
	}
	function setPlace(){
		map.clearOverlays();    //清除地图上所有覆盖物
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp, 18);
			map.addOverlay(new BMap.Marker(pp));    //添加标注
		}
		var local = new BMap.LocalSearch(map, { //智能搜索
		  onSearchComplete: myFun
		});
		local.search(myValue);
	}
</script>

