<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";font-size:14px;}
		#l-map{height:80%;width:100%;}
		#r-result{border: none;
			border-bottom: 2px solid #ccc;
			padding: 8px;
			font-size: 16px;
			border-radius: 4px;
			transition: border-bottom-color 0.3s ease;
		}
		#r-result:focus{
			border-bottom-color: dodgerblue;
			outline: none;
		}
        #allmap{width:100%;height:500px;}
		#r-result{width:100%;margin-top:5px;}
		#driving_way{
			position: fixed;
            top: 10px;
            right: 20px;
            width: 270px;
            height: 450px;
            background: #fff;
            box-shadow: 0 2px 6px 0 rgba(27, 142, 236, 0.5);
            border-radius: 7px;
			z-index: 99;
			padding: 10px
		}
		#result{
			height: 400px;
            overflow-y: auto;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=vIeXG84uuDZCLzQ4Nf3a5bhaC2Zd3iA1"></script>
	<!--
		<script type="text/javascript" src="/html/js/baiduMap.js"></script>
	-->
	<title>关键字输入提示词条, 控制地图缩放</title>
</head>
<body>
	<div id="l-map"></div>
	<div id="driving_way">
		<select>
            <option value="0">推荐方案</option>
			<option value="1">最少时间</option>
			<option value="2">最少换乘</option>
			<option value="3">最少步行</option>
			<option value="4">不乘地铁</option>
            <option value='5'>优先地铁</option>
		</select>
        <button id='searchBtn'>查询</button>
        <p id='result'></p>
	</div>
	<div id="r-result">请输入: <input type="text" id="suggestId" size="20" value="百度" style="width:150px;" /></div>
	<div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
	<div>
		<label for="start_point">起点经纬度：</label>
		<input type="text" id="start_point" placeholder="请输入起点经纬度">
	</div>
	<div>
		<label for="end_point">终点经纬度：</label>
		<input type="text" id="end_point" placeholder="请输入终点经纬度">
	</div>
	<button id="submitBtn">提交</button>
	<p>功能：输入地点，定位地点；鼠标滚轮缩放地图；</p>
	</body>
</html>


<script type="text/javascript">
    
    window.onload = function() {
		add_control()	
	};   
    
	// 百度地图API功能
	function G(id) {
		return document.getElementById(id);
	}

	var map = new BMap.Map("l-map");
	map.centerAndZoom("北京",12);                   // 初始化地图,设置城市和地图级别。
    map.enableScrollWheelZoom();
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
	var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
	var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮
	/*缩放控件type有四种类型:
	BMAP_NAVIGATION_CONTROL_SMALL：仅包含平移和缩放按钮；BMAP_NAVIGATION_CONTROL_PAN:仅包含平移按钮；BMAP_NAVIGATION_CONTROL_ZOOM：仅包含缩放按钮*/

    //添加控件和比例尺
    function add_control(){
        map.addControl(top_left_control);        
        map.addControl(top_left_navigation);     
        map.addControl(top_right_navigation);    
    }
  
	var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{"input" : "suggestId"
		,"location" : map
	});

	ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
	var str = "";
		var _value = e.fromitem.value;
		var value = "";
		if (e.fromitem.index > -1) {
			value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
		}    
		str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
		
		value = "";
		if (e.toitem.index > -1) {
			_value = e.toitem.value;
			value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
		}    
		str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
		G("searchResultPanel").innerHTML = str;
	});

	var myValue;
	ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
	var _value = e.item.value;
		myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
		G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
		
		setPlace();
	});

	function setPlace(){
		map.clearOverlays();    //清除地图上所有覆盖物
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp, 18);
			map.addOverlay(new BMap.Marker(pp));    //添加标注
		}
		var local = new BMap.LocalSearch(map, { //智能搜索
		  onSearchComplete: myFun
		});
		local.search(myValue);
	}
	
	// 尝试实现鼠标点击地图：返回该点的经纬度；
	function showInfo(e){
		var lng = e.point.lng;
  		var lat = e.point.lat;
		alert(e.point.lng + ", " + e.point.lat);
	}
	map.addEventListener("click", showInfo);

	// 尝试设置起点和终点

	var marker_start = new BMap.Marker(new BMap.Point(0, 0));  // 起点标注
	var marker_end = new BMap.Marker(new BMap.Point(0, 0));    // 终点标注
	map.addOverlay(marker_start);
	map.addOverlay(marker_end);
	marker_start.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画	
	marker_end.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	marker_start.enableDragging();
	marker_end.enableDragging();

	start_point = new BMap.Point(0, 0);
	end_point = new BMap.Point(0, 0);
	// 提交按钮点击事件
	var submitBtn = document.getElementById("submitBtn");
	submitBtn.addEventListener("click", function() {
		// 获取输入框的值
		var startPointInput = document.getElementById("start_point").value;
		var endPointInput = document.getElementById("end_point").value;
		// 拆分经纬度字符串
		var startPointArr = startPointInput.split(",");
		var endPointArr = endPointInput.split(",");
		// 更新起点和终点的经纬度
		var x1 = startPointArr[0];
		var y1 = startPointArr[1];
		var x2 = endPointArr[0];
		var y2 = endPointArr[1];
		// 更新起点和终点的标注位置
	    start_point = new BMap.Point(x1, y1);
		end_point = new BMap.Point(x2, y2);
		marker_start.setPosition(start_point);
		marker_end.setPosition(end_point);
	});		
	
	var routePolicy = [BMAP_TRANSIT_POLICY_RECOMMEND,BMAP_TRANSIT_POLICY_LEAST_TIME,BMAP_TRANSIT_POLICY_LEAST_TRANSFER,BMAP_TRANSIT_POLICY_LEAST_WALKING,BMAP_TRANSIT_POLICY_AVOID_SUBWAYS,BMAP_TRANSIT_POLICY_FIRST_SUBWAYS];
	var transit = new BMap.TransitRoute(map, {
			renderOptions: {map: map, panel: 'result'},
			policy: 0,
	});

	// 搜索按钮点击事件
	var searchBtn = document.getElementById("searchBtn");
	searchBtn.addEventListener("click", function() {
		map.clearOverlays();
		// var drivingWay = 
		var i= $("#driving_way select").val();
		search(start_point,end_point,routePolicy[i]); 
		function search(start_point,end_point,route){ 
			transit.setPolicy(route);
			transit.search(start_point,end_point);
		}
	});

</script>


