<section class="whitepage no-bottom no-top no-padding">
<div class="container-fluid">
    <div class="row">
    
    <div class="no-gutter">

        <div class="col-md-4">
            <div class="features no-margin">
            <div class="bg-img">
            <h3 class="big-heading">ASIA <sup class="subtour">7 Tours</sup></h3>
            <p class="content">Qui ut ceteros comprehensam. Cu eos sale 
    sanctus eligendi, id ius elitr saperet,ocurreret 
    pertinacia pri an. No mei nibh consectetuer</p>
            <a href="#"><span class="shine"></span>View More</a>
            </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="features no-margin">
            <div class="bg-img-1">
            <h3 class="big-heading">EUROPE <sup class="subtour">9 Tours</sup></h3>
            <p class="content">Qui ut ceteros comprehensam. Cu eos sale 
    sanctus eligendi, id ius elitr saperet,ocurreret 
    pertinacia pri an. No mei nibh consectetuer</p>
            <a href="#"><span class="shine"></span>View More</a>
            </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="features no-margin">
            <div class="bg-img-2">
            <h3 class="big-heading">AFRICA <sup class="subtour">12 Tours</sup></h3>
            <p class="content">Qui ut ceteros comprehensam. Cu eos sale 
    sanctus eligendi, id ius elitr saperet,ocurreret 
    pertinacia pri an. No mei nibh consectetuer</p>
            <a href="#"><span class="shine"></span>View More</a>
            </div>
            </div>
        </div>

    </div>
    
    </div>
    </div>
</section>