<section class="whitepage no-bottom no-top no-padding">
<div class="container-fluid">
    <div class="row">
    
    <div class="no-gutter">

        <div class="col-md-4">
            <div class="features no-margin">
            <div class="bg-img">
            <h3 class="big-heading">ASIA <sup class="subtour">7 Tours</sup></h3>
            <p class="content" style="height: 75px;">Japan→
                Thailand→
                China→
                Singapore→
                India→
                Maldives
            </p>
            <a href="#"><span class="shine"></span>View More</a>
            </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="features no-margin">
            <div class="bg-img-1">
            <h3 class="big-heading">EUROPE <sup class="subtour">9 Tours</sup></h3>
            <p class="content" style="height: 75px;">France→
                Italy→
                Spain→
                Germany→
                Britain→
                Greece→
                the Netherlands→
                Switzerland→
            </p>
            <a href="#"><span class="shine"></span>View More</a>
            </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="features no-margin">
            <div class="bg-img-2">
            <h3 class="big-heading">AFRICA <sup class="subtour">12 Tours</sup></h3>
            <p class="content" style="height: 75px;">Kenya→
                South Africa→
                Morocco→
                Tanzania→
                Egypt→
                Mauritius
            </p>
            <a href="#"><span class="shine"></span>View More</a>
            </div>
            </div>
        </div>

    </div>
    
    </div>
    </div>
</section>