<section aria-label="gallery">
<div class="container-fluid m-5-hor">
    <div class="row">

    </div>
    </div>

    <div class="onStep" data-animation="fadeInUp" data-time="0">
    <div id="owl-gal" class="owl-carousel">
            
                <div class="item">
                <div class="gal-home">
                <a href="projects-detail.html">
                <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="static/img/gallery-home/img1.jpg">
                </div>
                <div class="gal-home-content">
                    <div class="row">
                        <div class="col-md-9"> 
                        <h4>Blue Ocean Island</h4>
                        <p>Duration 5 days</p>
                        <div class="star-content">
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-cont big-heading">1 Reviews</div>
                        </div>
                        <div class="col-md-3"> 
                        <div class="heading-price">From</div>
                        <div class="price big-heading">$ 1200</div>
                        </div>
                    </div>
                </div>
                </a>
                </div>
                </div>

                <div class="item">
                <div class="gal-home">
                <a href="projects-detail.html">
                <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="static/img/gallery-home/img2.jpg">
                </div>
                <div class="gal-home-content">
                    <div class="row">
                        <div class="col-md-9"> 
                        <h4>Luxury Asia Travel</h4>
                        <p>Duration 5 days</p>
                        <div class="star-content">
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-cont big-heading">1 Reviews</div>
                        </div>
                        <div class="col-md-3"> 
                        <div class="heading-price">From</div>
                        <div class="price big-heading">$ 1200</div>
                        </div>
                    </div>
                </div>
                </a>
                </div>
                </div>

                <div class="item">
                <div class="gal-home">
                <a href="projects-detail.html">
                <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="static/img/gallery-home/img3.jpg">
                </div>
                <div class="gal-home-content">
                    <div class="row">
                        <div class="col-md-9"> 
                        <h4>Wild Tour Africa</h4>
                        <p>Duration 5 days</p>
                        <div class="star-content">
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-cont big-heading">1 Reviews</div>
                        </div>
                        <div class="col-md-3"> 
                        <div class="heading-price">From</div>
                        <div class="price big-heading">$ 1200</div>
                        </div>
                    </div>
                </div>
                </a>
                </div>
                </div>

                <div class="item">
                <div class="gal-home">
                <a href="projects-detail.html">
                <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="static/img/gallery-home/img4.jpg">
                </div>
                <div class="gal-home-content">
                    <div class="row">
                        <div class="col-md-9"> 
                        <h4>Amazing Diversity Place</h4>
                        <p>Duration 5 days</p>
                        <div class="star-content">
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-cont big-heading">1 Reviews</div>
                        </div>
                        <div class="col-md-3"> 
                        <div class="heading-price">From</div>
                        <div class="price big-heading">$ 1200</div>
                        </div>
                    </div>
                </div>
                </a>
                </div>
                </div>

                <div class="item">
                <div class="gal-home">
                <a href="projects-detail.html">
                <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="static/img/gallery-home/img5.jpg">
                </div>
                <div class="gal-home-content">
                    <div class="row">
                        <div class="col-md-9"> 
                        <h4>The Kingdom of West</h4>
                        <p>Duration 5 days</p>
                        <div class="star-content">
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-cont big-heading">1 Reviews</div>
                        </div>
                        <div class="col-md-3"> 
                        <div class="heading-price">From</div>
                        <div class="price big-heading">$ 1200</div>
                        </div>
                    </div>
                </div>
                </a>
                </div>
                </div>

                <div class="item">
                <div class="gal-home">
                <a href="projects-detail.html">
                <div class="hovereffect">
                    <img alt="imageportofolio" class="img-responsive" src="static/img/gallery-home/img6.jpg">
                </div>
                <div class="gal-home-content">
                    <div class="row">
                        <div class="col-md-9"> 
                        <h4>An Asian Temple</h4>
                        <p>Duration 5 days</p>
                        <div class="star-content">
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star" aria-hidden="true"></i> 
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-cont big-heading">1 Reviews</div>
                        </div>
                        <div class="col-md-3"> 
                        <div class="heading-price">From</div>
                        <div class="price big-heading">$ 1200</div>
                        </div>
                    </div>
                </div>
                </a>
                </div>
                </div>  
                
    </div>
    </div>
</section> 