<section id="testimony" class="color-page no-padding">
    <div class="container-fluid">
    <div class="row">
    
        <div class="image-container col-lg-6 pull-right hidden-md hidden-sm hidden-xs onStep" data-animation="fadeInRight" data-time="300" style="height: 800px;margin-top: 120px;"></div> 
    
        <div class="col-lg-6 col-md-12 autoheight" style="height: 400px;">
        
        <div class="p-90">
        <div id="owl-testimonial" class="owl-carousel owl-theme">
        
                    <div class="item">
                        <blockquote>
                            <p>The Great Wall is the longest man-made building in the world, with its magnificent scale and magnificent scenery that are astonishing. 
                                It has important military defense and cultural heritage value, and is one of the symbols of China's long history and culture. 
                                The Great Wall is built in a magnificent natural environment, where you can enjoy beautiful mountains, canyons, and scenery. 
                                Especially in autumn and spring, the vegetation around the Great Wall presents charming colors, giving people a sense of tranquility and comfort..
                            </p>
                            <small>Someone famous in <cite title="Source Title" class="color">National Geographic Traveler</cite></small>
                        </blockquote>
                        <img alt="imagetesti" class="tal" src="static/img/img-testi-1.png">
                        <h3>Bruce Wayne</h3>
                    </div>
                    
                    <div class="item">
                        <blockquote>
                            <p>The Louvre itself is a magnificent building, showing the glory of History of France and culture. 
                                Its unique architectural style, including ancient medieval fortresses and magnificent Renaissance style palaces, is breathtaking. 
                                Besides, the Louvre has a wide collection of works of art, covering different periods and styles, including Leonardo da Vinci's Mona Lisa, Michelangelo's David, etc. 
                                This diversity allows tourists to appreciate exciting art works from different eras and regions in one place.
                            </p>
                            <small>Someone famous in <cite title="Source Title" class="color">Lonely Planet</cite></small>
                        </blockquote>
                        <img alt="imagetesti" class="tal" src="static/img/img-testi-1.png">
                        <h3>Emma Watson</h3>
                    </div>  
                        
                    <div class="item">
                        <blockquote>
                            <p>The Taj Mahal is a white marble building. 
                                It was built in memory of the wife of Mughal emperor Shah Jahan, representing their love and commemoration. Its design and details are stunning, including magnificent domes, exquisite patterns, and exquisite carvings. 
                                It is considered a romantic and touching building, symbolizing eternal love and pure beauty. The Taj Mahal is not only a building, but also a masterpiece of art and engineering. 
                                Its construction involves a wide range of engineering techniques, including the transportation and carving of marble. It is a masterpiece of Mughal architecture in India.
                            </p>
                            <small>Someone famous in <cite title="Source Title" class="color">AFAR</cite></small>
                        </blockquote>
                        <img alt="imagetesti" class="tal" src="img/img-testi-3.png">
                        <h3>Diana Prince</h3>
                    </div>                        
        </div>
        </div>
        </div>
        
    </div>
    </div>
</section>