<section id="testimony" class="color-page no-padding">
    <div class="container-fluid">
    <div class="row">
    
        <div class="image-container autoheight col-lg-6 pull-right hidden-md hidden-sm hidden-xs onStep" data-animation="fadeInRight" data-time="300"></div> 
    
        <div class="col-lg-6 col-md-12 autoheight">
        
        <div class="p-90">
        <div id="owl-testimonial" class="owl-carousel owl-theme">
        
                    <div class="item">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                        </blockquote>
                        <img alt="imagetesti" class="tal" src="static/img/img-testi-1.png">
                        <h3>Emma Watson</h3>
                    </div>
                    
                    <div class="item">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                        </blockquote>
                        <img alt="imagetesti" class="tal" src="static/img/img-testi-1.png">
                        <h3>Emma Watson</h3>
                    </div>  
                        
                    <div class="item">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <small>Someone famous in <cite title="Source Title" class="color">Source Title</cite></small>
                        </blockquote>
                        <img alt="imagetesti" class="tal" src="static/img/img-testi-1.png">
                        <h3>Emma Watson</h3>
                    </div>                        
        </div>
        </div>
        </div>
        
    </div>
    </div>
</section>