<section aria-label="milestone" class="no-top no-bottom color-page hidden-sm hidden-xs">
<div class="container-fluid m-5-hor">
    <div class="row">

    <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="0">
        <div class="box-icon">
            <span class="icon-choose fa fa-plane"></span>
            <div class="text">
            <h3><span>300+ DESTINATION</span></h3>
                <p>Sed ut perspiciatis</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="150">
        <div class="box-icon">
            <span class="icon-choose fa fa-credit-card"></span>
            <div class="text">
            <h3><span>AFFORDABLE PRICE</span></h3>
                <p>Sit voluptatem accusantium</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="300">
        <div class="box-icon">
            <span class="icon-choose fa fa-address-book"></span>
            <div class="text">
            <h3><span>GREAT CUSTOMERS</span></h3>
                <p>perspiciatis unde omnis</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 onStep" data-animation="fadeInUp" data-time="450">
        <div class="box-icon">
            <span class="icon-choose fa fa-handshake-o"></span>
            <div class="text">
            <h3><span>TRUSTED & SAFE</span></h3>
                <p>Accusantium natus</p>
            </div>
        </div>
    </div>

    </div>
</div>
</section> 