<section aria-label="top-rated">
    <div class="container-fluid m-5-hor">
    <div class="row">
        <div class="col-md-6 sp-padding ">
        <img alt="top-rated" class="img-responsive" src="static/img/img-top-rated.jpg">
        </div>
        <div class="col-md-6 p-30">
        <h3 class="big-heading">Top Rated Our Tours</h3>
        <span class="sub-heading-content">No mei consectetuer</span>
        <span class="devider-left"></span>
        <p>Qui ut ceteros comprehensam. Cu eos sale  sanctus eligendi, id ius elitr saperet,ocurreret  pertinacia pri an. No mei nibh consectetuer</p>
        <div id="tag-country">
            <a href="#" class="list-country">
            Europe <sup>(40)tours</sup>
            </a>
            <a href="#" class="list-country">
            Australia <sup>(40)tours</sup>
            </a>
            <a href="#" class="list-country">
            America <sup>(40)tours</sup>
            </a>
            <a href="#" class="list-country">
            Asia <sup>(40)tours</sup>
            </a>
            <a href="#" class="list-country">
            Africa <sup>(40)tours</sup>
            </a>
            <a href="#" class="list-country">
            Japan <sup>(40)tours</sup>
            </a>
            <a href="#" class="list-country">
            Rusian <sup>(40)tours</sup>
            </a>
        </div>
        <a href="#" class="btn-content">
            ALL DESTINATION
            </a>
        </div>
    </div>
    </div>
</section>  