<!-- A Empty File contains the head and footer -->
{% extends 'base.html' %}

{% block content %}
<!-- subheader -->
<section id="subheader1">
<div class="container-fluid m-5-hor">
    <div class="row">
    <div class="col-md-12">
        <h1 class="big-heading">
        About Us
        </h1>
        <p>Discover the world with us!</p>
    </div>
</div>
</div>
</section>
<!-- subheader end -->

<!-- middle -->
  <!-- section about -->
  <section id="about-us-1" class="whitepage no-padding">
    <div class="container-fluid">
     <div class="row">
     
      <div class="image-container autoheight-1 col-lg-6 hidden-md hidden-sm hidden-xs pull-left onStep" data-animation="fadeInLeft" data-time="0"></div>
  
                 <div class="col-lg-6 autoheight-1">
                  <div class="p-901">
                    <h1 class="big-heading1 space-title">
                      A Perfect Place Vacation
                      <span class="devider-cont"></span>
                    </h1><p class="content2">&emsp;&emsp;Welcome to our travel agency! We are a professional travel agency dedicated to providing customers with unique and customized travel experiences.
                    As a passionate and experienced team, we love traveling and exploring the beauty and culture of the world. We believe that traveling is not only about reaching a destination, but also a spiritual baptism and valuable opportunity for growth. 
                    Therefore, we strive to create a unique travel plan for every customer, so that everyone can find their own story on the journey.</p>
                </div>   
                <div class="clearfix"></div>
               </div>
                          
     </div>
    </div>
   </section>

   <section id="about-us-2" class="no-padding whitepage">
    <div class="container-fluid">
       <div class="row">
       
        <div class="image-container autoheight-2 col-lg-6 hidden-md hidden-sm hidden-xs pull-right onStep" data-animation="fadeInRight" data-time="0"></div>

        <div class="col-lg-6 autoheight-2">
         <div class="p-901">
          <h1 class="big-heading1 space-title">
            About Our Service
            <span class="devider-cont"></span>
          </h1>
          
          <p class="content2">&emsp;&emsp;Whether you are an adventurer who is passionate about exploration, a vacationer who is eager to relax, or a cultural explorer who wants to experience different cultures, 
            we can customize your journey according to your interests, needs, and budget. We have established solid relationships with partners from around the world to ensure that we provide you with the highest quality service and the most diverse travel experience.
            Our professional team will provide you with meticulous and thoughtful services throughout the entire journey, from itinerary planning to comfortable accommodation arrangements, from flight booking to tour guide accompanying, 
            we will ensure that your travel process is worry free and enjoyable. We are well aware of the importance of every detail, so we strive to exceed expectations and allow you to enjoy unparalleled comfort and beauty while traveling.</p>
          
          </div>
        <div class="clearfix"></div>
       </div>
       
     </div>
    </div>
    </section>

   <section id="about-us-3" class="whitepage no-padding">
    <div class="container-fluid">
     <div class="row">
     
      <div class="image-container autoheight-1 col-lg-6 hidden-md hidden-sm hidden-xs pull-left onStep" data-animation="fadeInLeft" data-time="0"></div>
  
                 <div class="col-lg-6 autoheight-1">
                  <div class="p-901">
                    <h2 class="big-heading1 space-title">
                      Make your dreams come true!
                      <span class="devider-cont"></span>
                    </h2>          
                    <p class="content2">&emsp;&emsp;Whether you are a photographer pursuing magnificent scenery, a solo traveler seeking self enlightenment, a happy family vacation traveler, or an elite business traveler, 
                        we will provide you with a perfect travel experience. Let's embark on a journey together, discover the wonders of the world, and leave traces of memories behind!
                        Choose our travel agency and become your partner to achieve your travel dreams. Make travel an indispensable part of your life, let's create beautiful travel memories together!</p>
                </div>   
                <div class="clearfix"></div>
               </div>
     </div>
    </div>
   </section>
   <!-- section about end -->

   <!-- section team -->      
   <section id="team">  
    <div class="container-fluid">
        <div class="row">
         
        <!-- spacer -->
        <div class="space-half"></div>
       
       <!-- team -->  
       <div class="onStep" data-animation="fadeInUp" data-time="300">
       <div class="owl-carousel" id="owl-team">
       
        <div class="item1">
          <div class="team">
                <div class="hovereffect">
                  <div class="overlay-2">
                   <div class="content">
                   <div class="heading">Liu Yilong
                   <span class="devider-recent-2"></span>
                   </div>
                   <div class="subheading">Software architect</div>
                   <div class="social-icons">
                   <a href="#"><span class="ti-facebook"></span></a>
                   <a href="#"><span class="ti-dribbble"></span></a>
                   <a href="#"><span class="ti-twitter"></span></a>
                   </div>
                   </div>
                  </div>
                </div>
          </div>
         </div>
         
         <div class="item2">
          <div class="team">
                <div class="hovereffect">
                  <div class="overlay-2">
                   <div class="content">
                   <div class="heading">Liu Junqi
                   <span class="devider-recent-2"></span>
                   </div>
                   <div class="subheading">Software architect</div>
                   <div class="social-icons">
                   <a href="#"><span class="ti-facebook"></span></a>
                   <a href="#"><span class="ti-dribbble"></span></a>
                   <a href="#"><span class="ti-twitter"></span></a>
                   </div>
                   </div>
                  </div>
                </div>
          </div>
         </div>
         
         <div class="item3">
          <div class="team">
                <div class="hovereffect">
                  <div class="overlay-2">
                   <div class="content">
                   <div class="heading">Ma Yue
                   <span class="devider-recent-2"></span>
                   </div>
                   <div class="subheading">Software architect</div>
                   <div class="social-icons">
                   <a href="#"><span class="ti-facebook"></span></a>
                   <a href="#"><span class="ti-dribbble"></span></a>
                   <a href="#"><span class="ti-twitter"></span></a>
                   </div>
                   </div>
                  </div>
                </div>
          </div>
         </div>
         
         <div class="item4">
          <div class="team">
                <div class="hovereffect">
                  <div class="overlay-2">
                   <div class="content">
                   <div class="heading">Zhu Daoxin
                   <span class="devider-recent-2"></span>
                   </div>
                   <div class="subheading">Software architect</div>
                   <div class="social-icons">
                   <a href="#"><span class="ti-facebook"></span></a>
                   <a href="#"><span class="ti-dribbble"></span></a>
                   <a href="#"><span class="ti-twitter"></span></a>
                   </div>
                   </div>
                  </div>
                </div>
          </div>
         </div>
              
       </div>
       </div>
       <!-- team end --> 
       
     </div>
    </div>
    </section>
    <!-- section team end -->
{% endblock %}

{% block script %}

{% endblock %}

