<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<title>公交路线规划</title>
<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=vIeXG84uuDZCLzQ4Nf3a5bhaC2Zd3iA1"></script>
<style type="text/css">
body, html,#container {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
</style>
</head>
<body>
<div id="container"></div>
<script type="text/javascript">
var map = new BMap.Map("container"); 
map.centerAndZoom(new BMap.Point(116.404, 39.915), 14); 
var transit = new BMap.TransitRoute(map, { 
    renderOptions: { 
        map: map, 
        autoViewport: true
        
    },
    // 配置跨城公交的换成策略为优先出发早
    intercityPolicy: BMAP_INTERCITY_POLICY_EARLY_START,
    // 配置跨城公交的交通方式策略为飞机优先
    transitTypePolicy: BMAP_TRANSIT_TYPE_POLICY_AIRPLANE
});
var start = new BMap.Point(23.132872,113.264691); // 中山纪念堂
var end = new BMap.Point(23.13935,113.352078); // 华南师范大学
transit.search(start, end);
</script>
</body>
</html>