{% extends "base.html" %}

{% block content %}
<!-- subheader -->
      <section id="subheader1">
        <div class="container-fluid m-5-hor">
          <div class="row">
            <div class="col-md-12">
              <h1 class="big-heading">
                Our Blog
              </h1>
              <p>Communicating with people from around the world</p>
            </div>
        </div>
       </div>
      </section>
      <!-- subheader end -->
      
      <!-- section -->
      <section aria-label="section-blog" id="content">
        <div class="container-fluid m-5-hor">
          <div class="row">
          
            <!-- left content -->
            <div class="col-md-8">
              <div class="blog-simple">
							<a href="#"><img class="img-responsive" src="static/img/blog/cover_bg_1.jpg" alt=""></a>
							<div class="blog-text">
									<h3 class="big-heading"><a href={{ url_for("userView.our_blog") }}>Venice One Day Tour</a></h3>
                                    <span class="user-post"><i class="ti-user"></i>CommandZ</span>
									<span class="date-post"><i class="ti-calendar"></i>Sep. 15th</span>
									<span class="comment"><a href=""><i class="ti-comment"></i>763</a></span>
									<p>Accommodation:</p> 
                  <p>It is recommended to live in the hotel reget near the mestre railway station. It is inexpensive and air-conditioned. It is close to the train. 
                    The nearby Chinese Lamian Noodles restaurant is also delicious</p> 
                  <p>Journey:</p> 
                  <p>It is recommended to leave early to avoid exposure to sunlight, and there are not many tourists, making it easy to take photos. 
                    At 9 o'clock in the morning, we went to Gondola at the Arito Bridge, and we bargained to a ship for 60 Euros.
                    After taking the boat, I went to Rainbow Island by boat. The round-trip transportation took two hours, but there were no special check-in points for the colorful houses. 
                    There were many small shops on the island, and I went to the restaurant recommended by Xiaohongshu, but only received cash.
                    Afternoon: Sunken Ship Bookstore - Bridge of Sighs - St. Martin's Square and Church, you can choose to climb the top. In fact, it will be finished soon. 
                    There are so many people in Bridge of Sighs that it is not easy to make movies. You can choose to sit down at a bar and take a break after browsing, but some shops on the main island only accept cash. You can also choose to visit some souvenirs</p>
									<a class="btn-blog" href="#">More Detail</a>
							</div> 
						</div>

						<div class="blog-simple">
							<a href="#"><img class="img-responsive" src="static/img/blog/cover_bg_2.jpg" alt=""></a>
							<div class="blog-text">
									<h3 class="big-heading"><a href="#">The most beautiful tomb in the world</a></h3>
									<span class="user-post"><i class="ti-user"></i>Sanjay Gandhi</span>
									<span class="date-post"><i class="ti-calendar"></i>Mar. 18th</span>
									<span class="comment"><a href=""><i class="ti-comment"></i>425</a></span>
									<p>Where:</p>
                  <p>The capital of Uttar Pradesh, India. It takes 2 hours to get here by train from the capital New Delhi.</p> 
                  <p>Recommended Travel time:</p> 
                  <p>3 days</p> 
                  <p>The Taj Mahal is a typical Muslim tomb building. The Regular tetrahedron structure is symmetrical in the center and protected by stone pillars. The outer facade of the tomb is decorated with various gemstones to create scriptures from the Quran. 
                    The size of the scriptures is designed to be large and small, and when people look up and recite, they will feel the consistency between the top and bottom. The four stone pillars tilt outward at a slight angle, so that in the event of an earthquake, they will not collapse inward and damage the tomb.
                     The best viewing angle of the Taj Mahal is from the remote viewing platform. The close view is a flower bed composed of lilies and roses. The middle view is two rows of evergreen trees. 
                     A straight water belt is sandwiched between the trees. Sitting on the distant platform is the most beautiful tomb in the world.
                     Entering the main entrance of the tomb, two stone coffins of the king and Taj were placed in the center. They can finally snuggle together and never part.</p>
									<a class="btn-blog" href="#">More Detail</a>
							</div> 
						</div>

						<div class="blog-simple">
							<a href="#"><img class="img-responsive" src="static/img/blog/cover_bg_3.jpg" alt=""></a>
							<div class="blog-text">
									<h3 class="big-heading"><a href="#">Experience the Miracle of Music and Architectural Beauty</a></h3>
									<span class="user-post"><i class="ti-user"></i>Jhony Dono</span>
									<span class="date-post"><i class="ti-calendar"></i>Nov. 26th</span>
									<span class="comment"><a href=""><i class="ti-comment"></i>621</a></span>
									<p>Sydney Opera House, a landmark building located in Port Jackson, Australia, is one of the most famous performing arts centers in the world. As a person who loves music and architecture, I have always dreamed of going to the Sydney Opera House to watch a thrilling performance. Recently, I have finally had the privilege of realizing this dream, and this experience has intoxicated me, deeply experiencing the wonderful fusion of music and architecture.</p>
                  <p>As I arrived at the Sydney Opera House, I was attracted by its unique architectural style. Designed by Danish architect Jørn Utzon, this building looks like a group of huge shells, forming a perfect contrast with the blue sky and blue sea of Port Jackson. Its unique form and white exterior walls have impressed me with Mr. Usong's creativity and design talent. 
                    Standing on the square in front of the opera house, I felt the harmonious coexistence of architecture and nature, which is unforgettable.</p>
                  <p>Finally, the performance of 'Camellia Woman' began. Music comes from the stage and fills the entire theater. I listened attentively and was impressed by the skillful techniques of the performers and the charm of the music. 
                    The entire theater seemed to be shrouded in the magic of music, and every note echoed in my heart. I closed my eyes and let the music lead me into another world, feeling the endless emotions and beauty.</p>
                  <p>The entire performance immersed me in it, forgetting the passage of time. When the last song fell, applause thundered. I couldn't help but applaud for this unforgettable experience. 
                    This trip to the Sydney Opera House to watch the performance has become a valuable memory in my life, which makes me love music and architecture even more. If you are also a fan of music and architecture, then don't miss this opportunity.</p>
									<a class="btn-blog" href="#">More Detail</a>
							</div> 
						</div>
                        
    <!-- Smaller pagination -->
    <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>            
               
            </div>
            <!-- left content end -->
            
            <!-- right content -->
            <div class="col-md-4">
              <aside>
              
                <!-- widget -->
              <div class="widget">
              <form role="search">
                <div class="input-group">
						<input type="text" id="search1" class="form-control" placeholder="search">
						<div class="input-group-btn">
							<button type="submit"><span class="icon"><i class="fa fa-search"></i></span></button>
						</div>
				</div>
                </form>
                </div>
                <!-- widget end -->
                
                <!-- widget -->
                <div class="widget">
                  <h5>
                    Recent posts
                  </h5>

                  <div class="devider-widget">
                  </div>

                  <div class="recent">
                    <div>
                      <img alt="#" class="pull-left" src="static/img/blog/65x65/long.jpg">
                      <h6>
                        <a href="#">Exploring the Unknown: My Adventure Journey</a>
                      </h6>

                      <p>
                        Mazim alienum appellantur eu cu ullum officiis pro pri
                      </p>
                    </div>

                    <div>
                      <img alt="#" class="pull-left" src="static/img/blog/65x65/zhu.jpg">
                      <h6>
                        <a href="#">Diving into the Mysterious Underwater World</a>
                      </h6>

                      <p>
                        Mazim alienum appellantur eu cu ullum officiis pro pri
                      </p>
                    </div>

                    <div>
                      <a href="#"><img alt="#" class="pull-left" src="static/img/blog/65x65/ma.jpg"></a>
                      <h6>
                        <a href="#">Strolling the Elegance of Traditional Villages</a>
                      </h6>

                      <p>
                        Mazim alienum appellantur eu cu ullum officiis pro pri
                      </p>
                    </div>

                    <div>
                      <a href="#"><img alt="#" class="pull-left" src="static/img/blog/65x65/qi.jpg"></a>
                      <h6>
                        <a href="#">A Feast of Taste Buds on the Tongue</a>
                      </h6>

                      <p>
                        Mazim alienum appellantur eu cu ullum officiis pro pri
                      </p>
                    </div>
                  </div>
                </div>
                <!-- widget end -->
              </aside>
            </div>
            <!-- right content end -->
               
          </div>
        </div>
      </section>
      <!-- section end -->
      
       
      <!-- footer -->
      <footer class="main text-center">
        <div class="container-fluid m-5-hor">
          <div class="row">
          
          <div class="onStep" data-animation="fadeInUp" data-time="300">
          <div class="col-md-4 text-left">
          <span><a href="#">Email: companyname@gmail.com</a></span>
          <span>Copyright - 2018 Plesire Travel All Right Reserved</span>
          </div>
          
          <div class="col-md-4">
                <span class="logo">
                <img alt="logo" src="img/logo-white.png">
                </span>
            </div>
            
            <div class="col-md-4 text-right">
              <span>129 Park street, New York City, NY 10903</span>
              <span>Phone: (+6221) 000 888 999</span>
            </div>
            </div>

            
          </div>
        </div>
      </footer>
      <!-- footer end -->
      
      
      <!-- ScrolltoTop -->
      <div id="totop" class="init">
        <span class="ti-angle-up"></span>
      </div>  

              <!-- modal login -->
              <div id="fLogin" class="modal fade">
                <div class="modal-dialog modal-login">
                  <div class="modal-content">
                    <div class="modal-header">      
                      <h4 class="modal-title">Member Log In</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form action="#" method="post">
                        <div class="form-group">
                          <label>User Name</label>
                          <input type="text" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" required="required">         
                        </div>
                        <div class="form-group">
                          <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In">
                        </div>
                      </form>       
                      
                    </div>
                    <div class="modal-footer">
                      <a href="#">or Sign Up</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- modal login end -->

              <!-- modal registration -->
              <div id="fsignUp" class="modal fade">
                <div class="modal-dialog modal-login">
                  <div class="modal-content">
                    <div class="modal-header">      
                      <h4 class="modal-title">Member Registration</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="firstname" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="lastname" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" name="email" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                        <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
                        </div>
                        <div class="form-group"><input type="submit" value="Sign up" class="btn btn-primary btn-block btn-lg"></div>
                        <div class="clearfix"></div>
                      </form>       
                      
                    </div>
                    <div class="modal-footer">
                      <a href="#">or Log In</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- modal registration end -->      

     
    </div>
    <!-- content wraper end --> 
    
    <!-- plugin JS -->
    <script src="plugin/pluginson3step.js"></script> 
    <script src="plugin/bootstrap.min.js"></script>
    <script src='plugin/bootstrap-datepicker.min.js'></script>
    <script src="plugin/sticky.js"></script> 
    <!-- slider revolution  -->
    <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- on3step JS -->
    <script src="js/on3step.js"></script>
    <script src="js/plugin-set.js"></script>
  </body>
</html>
{% endblock %}

      