{% extends 'base.html' %}

{% block content %}
<!-- subheader -->
<section id="subheader1">
  <div class="container-fluid m-5-hor">
    <div class="row">
      <div class="col-md-12">
        <h1 class="big-heading">
          Blog Post
        </h1>
        <p>Edit your blog</p>
      </div>
  </div>
 </div>
</section>
<!-- subheader end -->

<!-- section -->
<section aria-label="section-blog" id="content">
  <div class="container-fluid m-5-hor">
    <div class="row">
    
      <!-- left content -->
        <div class="col-md-8">

               <!-- article -->
               <article>
               <div class="blog-simple">
        <a href="#"><img class="img-responsive" src="static/img/blog/cover_bg_1.jpg" alt=""></a>
        <div class="blog-text">
            <h3 class="big-heading"><a href="#">Venice One Day Tour</a></h3>
            <span class="user-post"><i class="ti-user"></i>CommandZ</span>
            <span class="date-post"><i class="ti-calendar"></i>Sep. 15th</span>
            <span class="comment"><a href=""><i class="ti-comment"></i>763</a></span>
            <p>Accommodation:</p> 
            <p>It is recommended to live in the hotel reget near the mestre railway station. It is inexpensive and air-conditioned. It is close to the train. 
              The nearby Chinese Lamian Noodles restaurant is also delicious</p> 
            <p>Journey:</p> 
            <p>It is recommended to leave early to avoid exposure to sunlight, and there are not many tourists, making it easy to take photos. 
              At 9 o'clock in the morning, we went to Gondola at the Arito Bridge, and we bargained to a ship for 60 Euros.
              After taking the boat, I went to Rainbow Island by boat. The round-trip transportation took two hours, but there were no special check-in points for the colorful houses. 
              There were many small shops on the island, and I went to the restaurant recommended by Xiaohongshu, but only received cash.
              Afternoon: Sunken Ship Bookstore - Bridge of Sighs - St. Martin's Square and Church, you can choose to climb the top. In fact, it will be finished soon. 
              There are so many people in Bridge of Sighs that it is not easy to make movies. You can choose to sit down at a bar and take a break after browsing, but some shops on the main island only accept cash. You can also choose to visit some souvenirs</p>
                             
            <blockquote>
            <p>The world is a dangerous place to live; not because of the people who are evil, but because of the people who don't do anything about it.</p>
            <small>by <cite>Albert Einstein</cite></small>
            </blockquote>
            
        </div> 
      </div>
               </article>
               <!-- article end -->

               <!-- comment blog -->
               <div id="blog-comment">
                  <h5><span>Comments (3)</span></h5>

                  <ul>
                     <li>
                        <div class="avatar"><img alt="img" src="static/img/blog/p1.jpg">
                        </div>
                        <div class="comment-info">
                           <span class="c-name">Peter Parker</span>
                           <span class="c-date"><i class="ti-calendar"></i>30 Jan 2017</span>
                           <span class="c-reply"><a class="link"  href="#">Reply</a></span>
                        </div>
                        <div class="comment">It's so cool！Venice is a city I will never forget. It was the first city That I visited in my solo trip covering Italy. 
                          I reached Venice at 6 am it was dark and cold. Started walking to find a good spot that I could sit and enjoy my sandwich with the sun rise. 
                          I found the perfect spot. Under a bridge. I walked almost all streets that I could. Got lost on my way so many times. Climbed Bridges’s walk on narrow streets. What a wonderful experience. 
                          It was not a romantic walk that I took with bf or husband, it was amazing, exciting and wonderful walk that I took with my own self. Indeed it was wonderful. 
                          The memories that I made  will last for ever. ❤️❤️
                        </div>
                        <!-- sub comment -->
                        <ul>
                           <li>
                              <div class="avatar"><img alt="img" src="static/img/blog/p2.jpg">
                              </div>
                              <div class="comment-info">
                                 <span class="c-name">Mary Jane</span>
                                 <span class="c-date">30 Jan 2023</span>
                                 <span class="c-reply"><a class="link"  href="#">Reply</a></span>
                              </div>
                              <div class="comment">Same...I came here on my own and it was my first time as well!</div>
                           </li>
                        </ul>
                        <!-- sub comment end -->
                     </li>
                  </ul>


                  <ul>
                     <li>
                        <div class="avatar"><img alt="img" src="static/img/blog/p3.jpg">
                        </div>
                        <div class="comment-info">
                           <span class="c-name">Barry Allen</span>
                           <span class="c-date">28 Jan 2023</span>
                           <span class="c-reply"><a class="link"  href="#">Reply</a></span>
                        </div>
                        <div class="comment">I live in central city, and I think Italy is the most beautiful country on Earth. God bless!</div>
                        <!-- sub comment -->
                        <ul>
                          <li>
                             <div class="avatar"><img alt="img" src="static/img/blog/p4.jpg">
                             </div>
                             <div class="comment-info">
                                <span class="c-name">Hal Jordan</span>
                                <span class="c-date">28 Jan 2023</span>
                                <span class="c-reply"><a class="link"  href="#">Reply</a></span>
                             </div>
                             <div class="comment">come to Coast City! And See whats beautiful!</div>
                          </li>
                       </ul>
                       <!-- sub comment end -->
                     </li>
                  </ul>

                  <ul>
                     <li>
                        <div class="avatar"><img class="people" alt="img" src="static/img/blog/p5.jpg">
                        </div>
                        <div class="comment-info">
                           <span class="c-name">Losi Lane</span>
                           <span class="c-date">25 Jan 2023</span>
                           <span class="c-reply"><a class="link"  href="#">Reply</a></span>
                        </div>
                        <div class="comment">I’ll be serious ... I did not have high expectations from this video but Good God it made me cry. 
                          It’s amazingly beautiful. I’ve been there, and I think I lost my heart somewhere between Venice and Verona. I LOVE ITALY ❤️😭</div>
                     </li>
                  </ul>

                  {% if flag %}
                  <ul id="mylist">
                    <li>
                       <div class="avatar"><img class="people" alt="img" src="static/img/blog/p6.jpg">
                       </div>
                       <div class="comment-info">
                          <span class="c-name">jacky1</span>
                          <span class="c-date">30 Jun 2023</span>
                          <span class="c-reply"><a class="link"  href="#">Reply</a></span>
                       </div>
                       <div class="comment">It's so cool!</div>
                    </li>
                 </ul>
                 {% endif %}

                  <div id="comment-form-wrapper">
                     <h6>Leave a Comment</h6>
                     <form class="no-smoothState" id="commentform" name="form1" method="post" action="{{ url_for('user.blog_post') }}">
                      <textarea cols="10" rows="10" name="message" id="messagecom" placeholder="Comment"></textarea>
                      <button id="sendcomment" class="btn" type="submit">Post Comment</button>
                    </form>
                  </div>
               </div>
               <!-- comment blog end -->
               
            </div>
            <!-- left content end -->

      <!-- right content -->
      <div class="col-md-4">
        <aside>
        
        <!-- widget -->
        <div class="widget">
        <form class="no-smoothState" role="search">
          <div class="input-group">
      <input type="text" id="search" class="form-control" placeholder="search">
      <div class="input-group-btn">
        <button type="submit"><span class="icon"><i class="fa fa-search"></i></span></button>
      </div>
  </div>
          </form>
          </div>
          <!-- widget end -->
        
          <!-- widget -->
          <div class="widget">
            <h5>
              Recent posts
            </h5>

            <div class="devider-widget">
            </div>

            <div class="recent">
              <div>
                <img alt="#" class="pull-left" src="static/img/blog/65x65/long.jpg">
                <h6>
                  <a class="link"  href="#">Exploring the Unknown: My Adventure Journey</a>
                </h6>

                <p>
                  Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
              </div>

              <div>
                <a class="link"  href="#"><img alt="#" class="pull-left" src="static/img/blog/65x65/ma.jpg"></a>
                <h6>
                  <a class="link"  href="#">Diving into the Mysterious Underwater World</a>
                </h6>

                <p>
                  Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
              </div>

              <div>
                <a class="link"  href="#"><img alt="#" class="pull-left" src="static/img/blog/65x65/zhu.jpg"></a>
                <h6>
                  <a class="link"  href="#">Strolling the Elegance of Traditional Villages</a>
                </h6>

                <p>
                  Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
              </div>

              <div>
                <a class="link"  href="#"><img alt="#" class="pull-left" src="static/img/blog/65x65/qi.jpg"></a>
                <h6>
                  <a class="link"  href="#">A Feast of Taste Buds on the Tongue</a>
                </h6>

                <p>
                  Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
              </div>

            </div>
          </div>
          <!-- widget end -->
          
          <!-- widget -->
          <div class="widget">
            <h5>
              Tags
            </h5>

            <div class="devider-widget">
            </div>

            <div class="tags">
              <div>
                <a class="link" href="#">Photography</a>
              </div>

              <div>
                <a class="link"  href="#">Trends</a>
              </div>

              <div>
                <a class="link"  href="#">Personal</a>
              </div>

              <div>
                <a class="link"  href="#">Creative</a>
              </div>
            </div>
          </div>
          <!-- widget end -->
          
        </aside>
      </div>
      <!-- right content end -->
         
    </div>
  </div>
</section>
<!-- section end -->

 
<!--  subfooter --> 
<section aria-label="subfooter" class="subfooter no-bottom">
  <div class="container-fluid m-5-hor">
    <div class="row">
     <div class="col-md-4">
      <div class="wrap-subfooter">
       <h4>Mission Statement</h4>
       <div class="subfooter-content-left">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
       <span class="logo">
          <img alt="logo" src="static/img/logo-white.png">
       </span>
      </div>
     </div>
     <div class="col-md-3 col-md-offset-1">
      <div class="wrap-subfooter">
       <h4>Lattest Destination</h4>
        <div class="tag-country">
          <a href="#" class="list-country">
            Europe <sup>(40)tours</sup>
          </a>
          <a href="#" class="list-country">
            Australia <sup>(40)tours</sup>
          </a>
          <a href="#" class="list-country">
            America <sup>(40)tours</sup>
          </a>
          <a href="#" class="list-country">
            Asia <sup>(40)tours</sup>
          </a>
          <a href="#" class="list-country">
            Africa <sup>(40)tours</sup>
          </a>
          <a href="#" class="list-country">
            Japan <sup>(40)tours</sup>
          </a>
          <a href="#" class="list-country">
            Rusian <sup>(40)tours</sup>
          </a>
        </div>
      </div>  
     </div>
     <div class="col-md-3 col-md-offset-1">
      <div class="wrap-subfooter">
       <h4>Contact Info</h4>
       <div class="subfooter-content-right">129 Park street, New York City, NY 10903</div>
       <div class="subfooter-content-right">Phone: (+6221) 999 999 999</div>
       <div class="subfooter-content-right"><a href="#">Email: companyname@gmail.com</a></div>
      </div>
     </div>
    </div>
  </div>
</section>  
<!--  subfooter end -->     

<!-- footer -->
<footer class="alt">
  <div class="container-fluid m-5-hor">
    <div class="row">
    
    <div class="col-md-6 text-left">
     <span>Copyright - 2018 Plesire Travel All Right Reserved</span>
    </div>

    <div class="col-md-6 text-right">
      <div class="social-icons-subnav">
          <a href="#"><span class="ti-facebook"></span></a>
          <a href="#"><span class="ti-dribbble"></span></a>
          <a href="#"><span class="ti-twitter"></span></a>
          <a href="#"><span class="ti-instagram"></span></a>
          <a href="#"><span class="ti-linkedin"></span></a>
      </div>
    </div>
    
    </div>
  </div>
</footer>
<!-- footer end -->


<!-- ScrolltoTop -->
<div id="totop" class="init">
  <span class="ti-angle-up"></span>
</div>  

        <!-- modal login -->
        <div id="fLogin" class="modal fade">
          <div class="modal-dialog modal-login">
            <div class="modal-content">
              <div class="modal-header">      
                <h4 class="modal-title">Member Log In</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <form action="#" method="post">
                  <div class="form-group">
                    <label>User Name</label>
                    <input type="text" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" required>         
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In">
                  </div>
                </form>       
                
              </div>
              <div class="modal-footer">
                <a href="#">or Sign Up</a>
              </div>
            </div>
          </div>
        </div>
        <!-- modal login end -->

        <!-- modal registration -->
        <div id="fsignUp" class="modal fade">
          <div class="modal-dialog modal-login">
            <div class="modal-content">
              <div class="modal-header">      
                <h4 class="modal-title">Member Registration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                  <label>First Name</label>
                  <input type="text" name="firstname" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" name="lastname" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label>Email Address</label>
                  <input type="email" name="email" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label>Username</label>
                  <input type="text" name="username" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" class="form-control" required>
                  </div>
                  <div class="form-group">
                  <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>
                  </div>
                  <div class="form-group"><input type="submit" value="Sign up" class="btn btn-primary btn-block btn-lg"></div>
                  <div class="clearfix"></div>
                </form>       
                
              </div>
              <div class="modal-footer">
                <a href="#">or Log In</a>
              </div>
            </div>
          </div>
        </div>
        <!-- modal registration end -->      


</div>
<!-- content wraper end --> 

<!-- plugin JS -->
<script src="plugin/pluginson3step.js"></script> 
<script src="plugin/bootstrap.min.js"></script>
<script src='plugin/bootstrap-datepicker.min.js'></script>
<script src="plugin/sticky.js"></script> 
<!-- slider revolution  -->
<script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- on3step JS -->
<script src="js/on3step.js"></script>
<script src="js/plugin-set.js"></script>
</body>
</html>
{% endblock %}