{% extends "base.html" %}

{% block content %}
    <!-- subheader -->
    <section id="subheader-commerce">
        <div class="container-fluid m-5-hor">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        CheckOut
                    </h1>
                    <div class="commerce-step">
                        <a>Concept</a>
                        <a class="active">Process</a>
                        <a>Payment</a>
                        <a>Receipt</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader end -->

    <section id="tab-commerce" class="no-bottom">
        <div class="container-fluid m-5-hor">
            <div class="row">
                <div class="board">
                    <div class="board-inner">
                        <ul class="nav nav-tabs">
                            <div class="liner"></div>

                            <li class="active">
                                <a href="#">
                                    <span class="title">Process</span>
                                    <span class="round-tabs step"></span>
                                </a>
                            </li>

                            <li><a href="ecommerce-payment.html">
                                <span class="title">Payment</span>
                                <span class="round-tabs step"></span>
                            </a>
                            </li>

                            <li><a href="ecommerce-checkout.html">
                                <span class="title">Receipt</span>
                                <span class="round-tabs step"></span>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content-commerce">
        <div class="container-fluid m-5-hor onStep" data-animation="fadeInUp" data-time="300">
            <div class="row">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><h2 class="big-heading">Choose Your Package</h2></th>
                            <th></th>
                            <th>person</th>
                            <th>start/end date</th>
                            <th>price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><img alt="commerce" width="300px" height="200px" src= {{ product_img }}></td>
                            <td>
                                <div class="flexCont">
                                    <h3>{{ product_name }}</h3>
                                </div>
                            </td>
                            <td>
                                {# TODO: check if margin correct #}
                                <button onclick="decrease()">-</button>
                                <input id="person-num" type="number" value="1" min="1" style="width:40px;">
                                <button onclick="increase()">+</button>
                            </td>
                            <td>
                                <input type="date" id="start-date"><br>
                                <input type="date" id="end-date">
                            </td>
                            <td>
                                <div id="price" class="big-heading"></div>
                                <div id="discount" class="disc"></div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>

        </div>
        </div>
    </section>

    <section>
        <div class="container-fluid m-5-hor onStep" data-animation="fadeInUp" data-time="300">
            <div class="row">
                <form action="#">
                    <div class="col-md-6">
                        <h5 class="big-heading">REGISTER NOW</h5>
                        <hr>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" required="" id="firstname"
                                       placeholder="First Name*">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" required="" id="lastname"
                                       placeholder="last Name*">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" required="" id="companyname"
                                   placeholder="Company Name*">
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5">
                                <input type="text" class="form-control" required="" id="zipcode"
                                       placeholder="Zip Code*">
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" required="" id="city" placeholder="City*">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" required="" id="emailcom" placeholder="Email*">
                            </div>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" required="" id="phonecom" placeholder="Phone*">
                            </div>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> I have read and accepted our terms of bussiness
                                condition</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Subscribe our Newsletter</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="big-heading">CHOOSE PROCESSED</h5>
                        <hr>
                        <h5>Wild Travel</h5>
                        <div class="checkbox">
                            <label><input type="checkbox"> Qui ut ceteros comprehensam. Cu eos sale sanctus
                                eligendi,</label>
                        </div>
                        <h5>Luxury Travel</h5>
                        <div class="checkbox">
                            <label><input type="checkbox"> Find best location afford as you needed and live it.</label>
                        </div>
                        <h5>Outdoor Travel</h5>
                        <div class="checkbox">
                            <label><input type="checkbox"> Our designer has certificated and licensed to your
                                project.</label>
                        </div>
                        <p>Learn more from our an expert team.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6"><a class="btn-ecom" href="ecommerce.html">Back to card</a></div>
                    <div class="col-md-6">
                        <!-- <button type="submit" id="send-ecom" class="btn-ecom">Go to Payment</button> -->
                        <a class="btn-ecom" href="ecommerce-payment.html">Go to Payment</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
            $(document).ready(function () {
                var price = {{ detail_dic['price'] | int  * detail_dic['mask'] }};

                $('#person-num, #start-date, #end-date').change(function () {
                    var selectedPerson = parseInt($(this).val());

                    var startDateStr = $('#start-date').val();
                    var endDateStr = $('#end-date').val();
                    var startDate = new Date(startDateStr);
                    var endDate = new Date(endDateStr);
                    var dateDifference = Math.ceil((endDate.getTime() - startDate.getTime()) / (1000*60*60*24));

                    var calculatedPrice = selectedPerson * price * dateDifference;  // 根据选择的人数计算价格
                    var discount = calculatedPrice * 1.25;  // 根据选择的人数计算折扣

                    $('#price').text('$ ' + calculatedPrice);
                    $('#discount').text('$ ' + discount);
                });
            });
    </script>
    <script>
        // BUG: when using this two script will not calling the calculatedPrice recalculated.
        function decrease() {
            var input = document.getElementById("person-num");
            var value = parseInt(input.value);
            
            if (!isNaN(value) && (value > 1)) {
                value--;
                input.value = value;
            }
        }

        function increase() {
            var input = document.getElementById("person-num");
            var value = parseInt(input.value);
            
            if (!isNaN(value) && (value < 99)) {
                value++;
                input.value = value;
            }
        }
  </script>
{% endblock %}