{% extends "base.html" %}

{% block content %}
    <!-- subheader -->
    <section id="subheader">
        <div class="container-fluid m-5-hor">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="big-heading">
                        Our Gallery
                    </h1>
                    <p>Varius blandit sit amet</p>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader end -->


    <!-- section projects -->
    <section aria-label="works" id="projects">
        <div class="container-fluid">
            <div class="row">

                <!-- project -->
                <div class="v-align">
                    <div class="col-md-11 col-xs-12">
                        <!-- filter project -->
                        <ul id="filter-hide" class="init">
                            <li class="filtter-icon"><i class="ti-layout-grid3-alt"></i>
                            </li>
                        </ul>

                        <ul id="filter-porto">
                            <li class="filt-projects-w selected" data-project="*">All Tour
                            </li>

                            <li class="filt-projects-w" data-project=".asia">Asia
                            </li>

                            <li class="filt-projects-w" data-project=".aus">Australia
                            </li>

                            <li class="filt-projects-w" data-project=".eur">Europe
                            </li>

                            <li class="filt-projects-w" data-project=".afr">Africa
                            </li>
                        </ul>

                        <!-- filter project end -->

                        <div id="w-gallery-container" class="w-gallery-container">

                            <div class="w-gallery asia aus eur">
                                <div class="projects-grid">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/10.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-youtube" href="https://www.youtube.com/watch?v=fafEHMnFe3g">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr asia">
                                <div class="projects-grid">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/11.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="popup-video" href="video/video.mp4">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery eur aus">
                                <div class="projects-grid">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/12.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-video" href="http://www.dailymotion.com/video/x612rc9">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia aus afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/13.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-youtube" href="https://www.youtube.com/watch?v=fafEHMnFe3g">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia aus eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/14.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="popup-video" href="video/video.mp4">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia aus">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/15.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/projects-w/15.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery aus afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/10.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/projects-w/10.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/11.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/projects-w/11.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/projects-w/12.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/projects-w/12.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!-- project end -->

            </div>
        </div>
    </section>
    <!-- section projects end -->



{% endblock %}

