{% extends "base.html" %}
{# TODO: this file is only the static html call, which it haven't implementation internal logical #}
{# NOTE: there is some design may help with the operation 
1. maybe we could implement the tags for each products, but it's hard, which using string or m:n mapping for it ?
2. maybe we could just simple reuse the img from product
3. maybe add another attribute? Does that seem weird 
#}

{% block content %}
    <!-- subheader -->
    <section id="subheader1">
        <div class="container-fluid m-5-hor">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="big-heading">
                        Our Gallery
                    </h1>
                    <p>Travel around the world</p>
                </div>
            </div>
        </div>
    </section>
    <!-- subheader end -->

    <!-- section projects -->
    <section aria-label="works" id="projects">
        <div class="container-fluid">
            <div class="row">

                <!-- project -->
                <div class="v-align">
                    <div class="col-md-11 col-xs-12">
                        <!-- filter project -->
                        <ul id="filter-hide" class="init">
                            <li class="filtter-icon"><i class="ti-layout-grid3-alt"></i>
                            </li>
                        </ul>

                        <ul id="filter-porto">
                            <li class="filt-projects-w selected" data-project="*">All Tour
                            </li>

                            <li class="filt-projects-w" data-project=".asia">Asia
                            </li>

                            <li class="filt-projects-w" data-project=".aus">Australia
                            </li>

                            <li class="filt-projects-w" data-project=".eur">Europe
                            </li>

                            <li class="filt-projects-w" data-project=".afr">Africa
                            </li>
                        </ul>

                        <!-- filter project end -->

                        <div id="w-gallery-container" class="w-gallery-container">

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Asia1.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Asia1.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Asia2.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Asia2.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Asia3.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Asia3.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Asia4.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Asia4.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Asia5.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Asia5.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery asia">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Asia6.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Asia6.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Europe1.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Europe1.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Europe2.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Europe2.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Europe3.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Europe3.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-gallery eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Europe4.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Europe4.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-gallery eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Europe5.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Europe5.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery eur">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Europe6.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Europe6.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Africa1.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Africa1.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Africa2.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Africa2.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Africa3.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Africa3.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Africa4.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Africa4.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Africa5.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Africa5.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery afr">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Africa6.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Africa6.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="projects-detail.html">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery aus">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Australia1.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Australia1.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="http://127.0.0.1:5002/product_detail?name=Blue+Ocean+Island">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery aus">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Australia2.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Australia2.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="http://127.0.0.1:5002/product_detail?name=Blue+Ocean+Island">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery aus">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Australia3.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Australia3.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="http://127.0.0.1:5002/product_detail?name=Blue+Ocean+Island">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="w-gallery aus">
                                <div class="projects-grid onStep" data-animation="fadeInUp" data-time="0">
                                    <div class="hovereffect-color">
                                        <img src="static/img/Australia4.jpg" alt="" class="w-gallery-image">
                                        <div class="overlay">
                                            <div class="v-align wrap">
              <span class="icon">
              <a class="big-img-1" href="static/img/Australia4.jpg">
              <i class="fa fa-search"></i>
              </a>
              <a href="http://127.0.0.1:5002/product_detail?name=Blue+Ocean+Island">
              <i class="fa fa-link"></i>
              </a>
              </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- project end -->

            </div>
        </div>
    </section>
    <!-- section projects end -->
{% endblock %}
